---
layout: default
---

{% for post in site.posts %}
  <article {% if post.type == 'release' %}class="highlight"{% endif %}>
      <a href="{{ post.url | prepend: site.baseurl }}" class="overall"></a>
      <span class="date">{{ post.date | date: "%b %-d, %Y" }}</span>
      <span class="bubble">
          {% if post.type == 'release' %}
            {{ post.release_version }}
          {% else %}
            {% include icon-{{post.type}}.svg %}
          {% endif %}
      </span>
      <h1>{{ post.title }}</h1>
      <p>{{ post.intro }}</p>
      <hr>
  </article>
{% endfor %}

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
